<section class="about-us">
    <hr class="custom-hr">
    <div class="container">
        <div class="advantages-title">
    <p class="hidden centered-text " style="font-size: 2.5rem;">О компании</p>
</div>
        <p>
            ООО "ПромТехСинергия" — это компания, которая предлагает высокотехнологичные решения для автоматизации сельского хозяйства.
            Мы специализируемся на поставках роботизированной техники, включая руки-манипуляторы, которые помогают сельхозпредприятиям
            повысить производительность и снизить затраты.
        </p>
        <p>
            Основатель компании, Душина Наталья, более 5 лет работает в сфере автоматизации сельского хозяйства. Его опыт и глубокое
            понимание потребностей отрасли позволяют нам предлагать клиентам только проверенные и эффективные решения.
        </p>
        <p>
            Мы тщательно отбираем оборудование, ориентируясь на его надежность, функциональность и соответствие современным стандартам.
            Наша цель — сделать передовые технологии доступными для сельхозпроизводителей России.
        </p>
    </div>
    <hr class="custom-hr">

</section>
<style>
    .about-us {
    padding: 50px 20px;
    text-align: center;
}

.about-us .container {
    max-width: 800px;
    margin: 0 auto;
}


.about-us p {
    font-size: 1.4rem;
    line-height: 1.6;
}

/* Адаптивность */
@media (max-width: 768px) {
    .about-us h2 {
        font-size: 1.8rem;
    }
    .about-us p {
        font-size: 1rem;
    }
}

</style>