{% load static %}
<link rel="stylesheet" href="{% static 'main/css/card.css' %}">

<a href="{% url 'product_detail' product.slug %}" class="product-card">
    {% if product.images.first %}
        <div class="product-image">
            <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" class="product-main-image">
        </div>
    {% else %}
        <p>Изображение отсутствует</p>
    {% endif %}
    <div class="product-info">
        <h3 class="product-title">{{ product.name }}</h3>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">{{ product.price }} ₽</p>
    </div>
</a>
