<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог - ПромТехСинергия</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/catalog.css' %}">
</head>
<body>
<header>
    {% include 'components/navbar.html' %}
</header>

<div class="product-container">
    {% for product in products %}
        {% include 'components/card.html' with name=product.name price=product.price image=product.image %}
    {% endfor %}
</div>
<div id="footer">
    {% include 'components/footer.html' %}
</div>


<script src="{% static 'main/js/catalog.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener("click", function(e) {
            e.preventDefault();
            const targetId = this.getAttribute("href").substring(1);
            const targetElement = document.getElementById(targetId);
            if (targetElement) {
                window.scrollTo({
                    top: targetElement.offsetTop,
                    behavior: "smooth"
                });
            }
        });
    });
});
</script>
</body>
</html>
