<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПромТехСинергия</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
</head>
<body>
<header>
    {% include 'components/navbar.html' %}
</header>
     <div class="hero">
        <div class="hero-text">
            <h1>Трансконвей</h1>
            <p>Умные руки для вашего бизнеса</p>
        </div>
    </div>
<div class="advantages-title">
    <p class="hidden centered-text ">Наши преимущества</p>
</div>
<div class="advantages-container">
    {% for advantage in advantages %}
        {% include 'components/advantage.html' %}
    {% endfor %}
</div>

{% include 'components/about_us.html' %}

{% include 'components/video_example.html' %}
<div id="footer">
    {% include 'components/footer.html' %}
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener("click", function(e) {
            e.preventDefault();
            const targetId = this.getAttribute("href").substring(1);
            const targetElement = document.getElementById(targetId);
            if (targetElement) {
                window.scrollTo({
                    top: targetElement.offsetTop,
                    behavior: "smooth"
                });
            }
        });
    });
});
</script>

<script src="{% static 'main/js/index.js' %}"></script>
</body>
</html>
